.section-2-container {
  height: 100vh;
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  background: url("../../nnnoise (1).svg") no-repeat center center fixed;
  animation: backgroundAnimation 85s linear infinite;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@keyframes backgroundAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 20% 100%;
  }
}
.section-2-container h1 {
  margin-bottom: 5rem;
  padding-right: 40%;
  font-size: 5rem;
  position: relative;
  background: none;
  color: #28c27f;
}

.about-me-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-me-bottom h5 {
  color: #28c27f;
  font-size: 1.2rem;
}
.about-me-bottom p {
  width: max(600px, 200px);
  text-align: center;
  font-size: 1.6rem;

  padding: 1rem;
  color: rgb(185, 185, 185);
  font-weight: 700;
}
.colorSpan {
  color: #28c27f;
}
.astronaut {
  position: absolute;
  width: auto;
  height: 800px;
  right: 0;
  top: 10%;

  animation: movingMan 4s infinite ease-in-out;
  animation-direction: alternate;
}
@keyframes movingMan {
  from {
    transform: translateY(0) rotate(-45deg);
  }
  to {
    transform: translateY(2%) rotate(-45deg);
  }
}
