body {
  background-color: #1f201f;
}
.main-header {
  display: flex;
  justify-content: space-between;
  /* margin: 1rem; */
  font-size: 1.8rem;
  /* max-width: 100%; */
  width: 100%;
  height: 15vh;
  animation: bottomShadow 4s infinite;
  animation-direction: alternate;
  border-bottom: 2px solid rgb(0, 0, 0);
  transition: top 0.3s ease;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  /* top: 0;
  position: fixed;
  z-index: 999; */
}
.main-header.active {
  top: 0;
  position: fixed;
  z-index: 999;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

@keyframes bottomShadow {
  from {
    box-shadow: -1px -10px 138px -8px rgba(40, 194, 127, 0.46);
    -webkit-box-shadow: -1px -10px 138px -8px rgba(40, 194, 127, 0.46);
    -moz-box-shadow: -1px -10px 138px -8px rgba(40, 194, 127, 0.46);
  }
  to {
    box-shadow: -1px -10px 69px -8px rgba(40, 194, 127, 0.46);
    -webkit-box-shadow: -1px -10px 69px -8px rgba(40, 194, 127, 0.46);
    -moz-box-shadow: -1px -10px 69px -8px rgba(40, 194, 127, 0.46);
  }
}
.main-header h2 {
  font-size: 3rem;
  padding: 2.4rem;
  color: #28c27f;
}
.main-header div {
  display: flex;
  gap: 3rem;
  padding-top: 2.4rem;
  padding-right: 4.4rem;
  /* overflow-x: hidden; */

  font-weight: 900;
  font-size: 2rem;
}
.main-header div a {
  text-decoration: none !important;
  color: inherit;
  transition: all 1s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  height: 60px;
}
.main-header div a:nth-child(1) {
  animation: animationA 8s;
  animation-iteration-count: infinite;
}
.main-header div a:nth-child(2) {
  animation: animationA 8s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}
.main-header div a:nth-child(3) {
  animation: animationA 8s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
}
.main-header div a:nth-child(4) {
  animation: animationA 8s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}
.main-header div a:hover {
  transform: scale(1.6) translateY(10%);
  color: #28c27f;
  -webkit-animation: 0;

  /* transform-origin: bottom; */
}
.main-header div a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 20px;
  height: 2px;
  width: 100%;
  transform: translateX(-110%);
  background-color: #28c27f;
  transition: all 1s;
}
.main-header div a:hover:before {
  transform: translateX(0);
}

@keyframes animationA {
  0% {
    color: black;
  }
  50% {
    color: #00ff910c;
  }
  100% {
    color: black;
  }
}
